.env

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
.DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Swift Package Manager
.build/
build/
.swiftpm/

# Worktrees
.worktrees/
.claude/worktrees/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/api_key.json
vendor/bundle

# macOS
.DS_Store
*.swp
